/** Defining Variables in System**/
:root{
 --main-radius:20px;
 --main-padding:20px;
}

/** Refer Back to Container Class in HTML**/
.container{
    display: grid;
    height: 90vh;
    grid-template-columns: 0.5fr 0.6fr 0.5fr 1.4fr ;
    grid-template-rows: 0.5fr 0.3fr 0.4fr 0.5fr ;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main sidebar "
    "footer footer footer sidebar";
    font-family: Arial;
    font-style: italic;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

nav{
background: hsl(217, 85%, 60%);     
 grid-area: nav;
 border-radius: var(--main-radius);
 padding-top: var(--main-padding);
 font-family: Arial;
 font-size: 20px;
}

main{
background: hsl(208, 86%, 64%);  
grid-area: main;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
font-family: Arial;
font-size: 20px;
}

#sidebar{
    background: #56c8f2;  
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: Arial;
    font-size: 20px;
}
/**
#content1{
    background: #ccd13b;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: Arial;
}

#content2{
    background: #0c13e0;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: Arial;
}

#content3{
    background: #f1a210;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: Arial;
}
**/

/** Footer is for Accessibility**/
footer{
background: #56f2dd;  
grid-area: footer;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
font-family: Arial;
font-size: 20px;
}

/** Mobile View **/
@media only screen and (max-width:100%) and (max-height:100%) {
    .container{
        grid-template-columns: 450px;
        grid-template-rows: 100px 150px 150px 150px;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar"
        "footer";
    }
}

